Source: libhoratio
Section: utils
Priority: extra
Maintainer: David Duncan Ross Palmer <palmer@overchat.org>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: automake
Standards-Version: 3.7.3
Homepage: http://www.daybologic.co.uk/software.php?content=dpcrtlmm
Vcs-Browser: http://svn.daybologic.co.uk/trac/dpcrtlmm/

Package: libhoratio
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Memory management/leak protection library for C apps
 This library is in its basic form a drop-in replacement for malloc() etc,
 however it has advanced callbacks and logging facilities which can be used.

Package: libhoratio-dev
Architecture: any
Depends: libhoratio
Description: Memory management/lead protection library dev headers
 This package includes horatio.h so that you can compile against
 libhoratio.
