#!/usr/bin/make -f

export DH_VERBOSE=0

%:
	dh $@

override_dh_auto_configure: autogen
	@if [ -f "Makefile" ]; then \
		echo 'Skipping ./configure; Makefile already exists'; \
	else \
		sh configure \
		--enable-stderr \
		--prefix=/usr \
		--disable-dependency-tracking; \
	fi

maintainer : override_dh_auto_configure
	make

autogen:
	sh autogen.sh

.PHONY: autogen maintainer override_dh_auto_configure
